[tool.poetry]
name = "bayex"
version = "0.1.0-alpha.0"
description = "Bayesian Optimization with Gaussian Processes powered by JAX"
authors = ["Albert Alonso <alonfnt@pm.me>"]
repository = "https://github.com/alonfnt/bayex"
readme = "README.md"
keywords = ["automatic-differentiation", "bayesian-optimization", "jax", "gaussian-process"]
classifiers = [
	"Intended Audience :: Science/Research",
	"Topic :: Scientific/Engineering"
	]
[tool.poetry.dependencies]
python = "^3.9"
jax = "^0.2.18"
jaxlib = "^0.1.69"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
pytest-cov = "^2.12.1"
pre-commit = "^2.13.0"
flake8 = "^3.9.2"
black = {version = "^21.7b0", allow-prereleases = true}
mypy = "^0.910"
isort = "^5.9.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | tags
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''
